.contactContainer {
  max-width: 500px;
  margin: 3rem auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 16px #0001;
  padding: 2.5rem 2rem;
}

.contactHeading {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  color: #6B5B95;
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
} 
.contactForm input{
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid #4b535d;
  background-color: lightgrey;
}
.contactForm textarea{
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid #4b535d;
  background-color: lightgrey;
}
button{
  background-color: rgb(100, 100, 211);
}

button:hover{
  background-color: rgb(53, 53, 232);
}